.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'Profile avatar'
    %div
      = f.file_field :avatar
    %div
    = f.submit 'Submit', class: 'btn-primary'

