.container
  %header.header
    - if !current_page?(root_path)
      = link_to :back do
        = image_tag 'back.svg', class: 'header_back'
    .profilePage_account
      = @account
  .profilePage_user_image
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    = f.label :image do
      = image_tag current_user.profile.avatar, class: 'avatar'
      = f.file_field :image, class: 'uploader', style: 'display:none'
    .main_count
      .posts_count
        Posts
        = current_user.articles.count
      .followers_count
        Followers
        = current_user.followers.count
      .following_count
        Following
        = current_user.followings.count
  .post_pic
    ここに投稿した画像を表示する
    = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
