.inner
  %p.profile-name
    = @account
  .circle-avatar
    = image_tag current_user.profile.avatar
  .profile-text
    .profile-two
      %p.profile-num
        = current_user.articles.count
      %p.profile-string
        Posts
    .profile-two.follower-following-wrap
      = link_to followeruser_path, class: 'profile_info follower' do
        .profile-num.profile-num2 #{current_user.followers.count}
        %p.profile-string Followers
    .profile-two.follower-following-wrap
      = link_to followinguser_path, class: 'profile_info following' do
        .profile-num.profile-num3 #{current_user.followings.count}
        %p.profile-string Followings

.account_post_images
  .account_post_container
    - current_user.articles.each_with_index do |item, index1|
      .slideshow
        %div{:class => "grid slideshow_slides_#{index1+1}"}
          -item.portraits.each_with_index do |photo, index2|
            = link_to root_path, {:class => "slide grid_item_#{index2+1}"} do
              = image_tag photo
        %div{:class => "slideshow_indicator slideshow_indicator_#{index1+1}"}

  .under