%h1 スケジュール編集
= form_with(model: @event, local: true) do |form|
  .title
    = form.label :タイトル
    = form.text_field :title
  .time
    = form.label :開始時間
    = form.datetime_select :start_time
  .content
    = form.label :内容
    = form.text_field :content
  .submit
    = form.submit '保存', class: 'btn-primary'