.container
  %p#notice= notice
  %p
    %strong タイトル
    = @event.title
  %p
    %strong 時間
    = @event.start_time.strftime("%Y-%m-%d %H:%M")
  %p
    %strong 内容
    = @event.content
= link_to '編集', edit_event_path(@event)
= link_to '削除', event_path(@event), data: { method: 'delete' , confirm: '本当に削除してもよろしいですか？' }
= link_to 'スケジュール表に戻る', events_path