= link_to article_path(article) do
  .card
    - if article.portraits.attached?
      .card_image
      - article.portraits.each do |portrait|
        = image_tag portrait
    .card_content
      .card_detail
        = image_tag article.user.avatar_image
        = article.user.account
      .card_detail_time
        = time_ago_in_words(article.created_at)+ ' ago '
      .card_title
        = article.content
      .card_heart
        = image_tag 'heart.svg'
        %span= article.like_count
  