.container
  .background
    = image_tag 'sign_up_back.jpg'
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :Email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'text'
      .actions
        = f.submit "Sign in", class: 'btn-primary'
  = render "devise/shared/links"